<%= render 'shared/header' %>

<div class="container">
  <div class="calendar-wrap">
    <%= month_calendar(header: { partial: 'tasks/calendar_header' }) do |date| %>
      <%= link_to date.day, task_path(date), class: "day-link" %>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to '今日の気分は？', new_mood_path, class: 'floating-mood-link' %>
<% end %>
